
<div id="confirmar[<%=pedido.id %>]" class="w3-modal">

  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <header class="w3-container w3-teal">
      <span onclick="document.getElementById('confirmar').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
      <h2>Confirmar pedido?</h2>
    </header>

    <%= form_with(model: pedido, local: true) do |form| %>
      <div class="w3-container">

        <%= form.hidden_field :status_pedido, value: "Pedido concluido" %>
        <h4 class="w3-text-black">Deseja confirmar pedido para entrega?</h4>
      </div>

      <div class="w3-container w3-border-top w3-padding-16">

        <button onclick="document.getElementById('confirmar').style.display='none'" type="button" class="w3-button w3-red  ">Cancelar</button>
        <%= form.submit "Concluir pedido", class:"w3-button w3-green w3-right" %></div>

    <% end %>

  </div>
</div>