<div class="col-md-3">
  <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
  <div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
      <h3 class="panel-title">Sessão Cliente</h3>
    </div>

    <div class="panel-body">

      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <%= link_to pedidos_path do %>
            <i class="fa fa-list"></i> Meus pedidos</a>
          <% end %>
        </li>
        <li>
          <a href=""><i class="fa fa-user"></i> Minha conta</a>
        </li>
        <li>
          <%= link_to destroy_cliente_session_path, method: :delete, class: 'navbar-link' do %>
            <i class="fa fa-sign-out"></i> Sair
          <% end %>
        </li>
      </ul>
    </div>

  </div>
  <!-- /.col-md-3 -->

  <!-- *** CUSTOMER MENU END *** -->
</div>